

/*fonts*/
*{
font-family: 'Mochiy Pop One', sans-serif !important;
}


/*cabecera*/
.logo{
width: 400px;
height: 300px;

}

.links{
    text-decoration: none !important;
    color:rgb(248, 245, 245);
    background:#482a73;
}
.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #482a73;
}

ul li{
    padding-left:25px;
   margin-top: 20px;
   color:white
   
}

.icon{
    width: 75px;

}
/*Pie de pagina*/
footer{
    color:white;
    border: 1px solid black;
   
}
.card-body{
    background: #482a73;

}